<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type=text/javascript>
  $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
</script>
<script type=text/javascript>
  $(function() {
    $('button#calculate').bind('click', function() {
      $.getJSON($SCRIPT_ROOT + '/prediction', {
        year: $('input[name="year"]').val(),
        team1: $('input[name="team1"]').val(),
        team2: $('input[name="team2"]').val()
      }, function(data) {
        $("#result").text(data.winner);
        if (data.warning1) {
          $("#warning1").text(data.warning1);
        } else {
          $( "#warning1" ).empty();
        }
        if (data.warning2) {
          $("#warning2").text(data.warning2);
        } else {
          $( "#warning2" ).empty();
        }
      });
      return false;
    });
  });
</script>
<!DOCTYPE html>
<html>
  <head>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='layout.css') }}">
    <title>March Madness</title>
  </head>
  <body>
    <div class="container" id="page-wrapper">
      <h1>March Madness Predictor</h1>
      <h2>Who is going to win?</h2>
      <form role="form" method='POST' action='/' autocomplete="on">
        <div class="form-group">
          <input type="text" name="year" placeholder="What is the year?" required>
          <input type="text" class="team1" id="ajax" list="json-datalist" name="team1" placeholder="Who is team1?" required>
          <datalist id="json-datalist"></datalist>
          <input type="text" class="team2" id="ajax" list="json-datalist" name="team2" placeholder="Who is team2?" required>
          <datalist id="json-datalist"></datalist>
        </div>
        <button type="submit" class="btn btn-default" href=# id=calculate>Submit</button>
        <div class="warning" id=warning1></div>
        <div class="warning" id=warning2></div>
        <div id=result>.........</div>
      </form>
      <div>For info on how this was created, refer to <a href="https://github.com/ashalan/GA-DSI/blob/master/projects/projects-capstone/March%20Madness.ipynb">my project on Github.</a></div>
    </div>
    <div style="color: white; text-align: right; width: 640px; margin: 1em auto;">Amer Shalan 2016</div>
  <script src="{{url_for('static', filename='script.js')}}"></script>
  </body>
</html>